

/* font-family: 'Cinzel', serif;
    500, 800  */




/* =================================
  PAGE STYLES
==================================== */


/* UNIVERSAL */

* {
  box-sizing: border-box;
  margin: 0;
  border: none;
  outline: none;
  font-family: 'Cinzel', serif;
}

header, #info, footer {
  text-align: center;
}

h2, legend {
  color: #2e3847;
}

p, label {
  color: #51617a;
}

input:focus, select:focus, textarea:focus {
  border: 2px solid #2e3847;
  background-color: #f0e1f7;
}

input, select, textarea {
  transition-property: background-color;
  transition-duration: 1s;
}

/* ELEMENTS */

header {
  background: #833ca3;
  color: white;
  padding: 5%;
  font-size: 50%;
}

form {
  padding-bottom: 4%
}

fieldset {
  margin-top: 2%;
}

legend {
  font-weight: bolder;
  font-size: 125%;
  margin-bottom: 2%;
}

label {
  margin: 1% 0 1% 0;
}

input, select, textarea {
  background-color: #f0f2f5;
  padding: 1.5rem;
  border-radius: .5rem;
}

select {
  color: #abb0b8;
}

button {
  text-align: center;
  width: 100%;
  border-radius: .5rem;
  padding: 8% 0 8% 0;
  background-color: #833ca3;
  color: white;
  font-size: 130%;
  font-weight: 800;
}

button:focus {
  border: 5px solid #d499f0;
}

footer p {
  background-color: #833ca3;
  color: white;
  padding: 4% 0 6% 0;
  font-style: italic;
  font-size: 65%;
}


/* PSEUDO-ELEMENTS */

::placeholder {
  text-align: right;
  font-style: italic;
  color: #abb0b8;
}


/* IDS */

#info {
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 5%;
}

#info h2 {
  margin-bottom: 3%;
  font-size: 125%;
  }

#info p {
  font-size: 80%;
}

#zip {
  width: 50%;
}

#javascript_news, #plain_text_format, #topics {
  margin-bottom: 10%;
}

#topics {
  width: 100%;
  height: 25%;
  margin-top: 3.5%;
}


/* TYPES */

[type="checkbox"], [type="radio"] {
  margin-right: 5%;
  margin-top: 3.5%;
}


/* CLASSES */

.border-1 {
  border: 3px solid #2e3847;
  margin: 0 1.5% 0 1.5%;
}

.border-2 {
  border: 1.5px solid #2e3847;
  margin: 1% 1.5% 6% 1.5%;
}

.container {
  display: flex;
  flex-direction: column;
}

.zip-cot {
  display: flex;
  flex-direction: column;
}




/* =================================
  MEDIA QUIRIES
==================================== */

@media (min-width: 768px) {


  /* UNIVERSAL */

  /* #info p, label, ::placeholder, input, select {
    font-size: .55em;
  } */

  .full-cot {
    display: flex;
    flex-direction: column;
    margin-left: 25%;
    margin-right: 25%;
    justify-content: center;
  }


  /* ELEMENTS */

  header {
    padding-bottom: 2.5%;
  }


  /* IDS */

  #info h2 {
    font-size: 1em;
  }

  /* CLASSES */

  .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .container label {
    min-width: 30%;
  }

  .container input, .container select {
    min-width: 70%;
    margin: 2% 0 2% 0;
    padding: 4% 2% 4% 2%;
  }

  button {
    padding: 2% 0 2% 0;
  }

  textarea {
    min-width: 100%;
  }

  #zip {
    width: 25%;
    padding: 4% 2% 4% 2%;
  }

  .zip-cot label {
    min-width: 30%;
    align-self: center;
  }

  .zip-cot {
    display: flex;
    flex-direction: row;
  }

}
